@model ChangePasswordViewModel

<h2>Change Password</h2>
<hr>
<form asp-action="ChangePassword" method="post">
    <div class="row">
        <div class="col-8">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card">
                <div class="card-header">
                    Parola Güncelle
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="OldPassword" name="Eski Parola" class="form-label">Eski Parola</label>
                        <input asp-for="OldPassword" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div>
                <button class="btn btn-primary" type="submit">Kaydet</button>
            </div>
        </div>
</form>